---
import Layout from '../layouts/Layout.astro';

---

<Layout>
	<div class="flex items-center justify-center h-dvh w-dvw">
		<h1 class="text-6xl font-black italic">Kyle Thomas</h1>
	</div>
</Layout>
